name: Java CI with Maven

on:
  push:
    branches:
      - test

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Merge latest code
      run: |
        git init
        git remote add origin https://github.com/Hamzakhalid0/simple-java-maven-app.git
        git pull origin master 
            
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Update pom.xml
      run: mvn versions:update-properties -Dproperty="fmwk.version" -DnewVersion="1.9.0"

    # - name: Push changes
    #   run: |
    #     git add pom.xml
    #     git commit -m "version updated"
    #     git push origin test 

    - name: Create Pull Request
      run: |
        TOKEN="${{ secrets.GITHUB_TOKEN }}"
        REPO="${{ github.repository }}"
        BRANCH="${{ github.ref }}"
        curl -X POST -H "Authorization: token $TOKEN" -d "{\"title\":\"Automated Pull Request\",\"head\":\"$BRANCH\",\"base\":\"master\",\"body\":\"All checks have passed. This pull request is ready to be merged.\"}" "https://api.github.com/repos/$REPO/pulls"

    - name: Run tests
      run: mvn -B test --file pom.xml

    - name: Generate Test Reports
      run: mvn surefire-report:report 

    - name: Comment on Pull Request
      run: |
        TOKEN="${{ secrets.GITHUB_TOKEN }}"
        REPO="${{ github.repository }}"
        PR_NUMBER="${{ github.event.pull_request.number }}"
        COMMENT="Test reports have been generated."
        curl -X POST -H "Authorization: token $TOKEN" -d "{\"body\":\"$COMMENT\"}" "https://api.github.com/repos/$REPO/issues/$PR_NUMBER/comments"

